openpyxl==3.1.5 
pandas==2.2.3
python-dotenv==1.1.0
requests==2.32.3
scikit-learn==1.6.1
pyod==2.0.5
pyyaml==6.0.2
shap==0.48.0
umap-learn==0.5.7
xlrd==2.0.1
torch==2.7.1


# Geospatial Libraries
shapely==2.0.6
geopandas==1.0.1
osmnx==2.0.3
folium==0.19.6

#Visualization
matplotlib==3.8.4